@chatset"utf-8";
body,div,p,ul,dl,ol,dt,dd,li,h1,h2,h3,h4,h5,h6,form,fieldset,table,tr,td,input,textarea,figure{
	margin:0;
	padding:0;
}
body{
	font-family:"微软雅黑";
}
a{
	text-decoration:none;
}
a:hover{
	cursor:pointer;
}
ul,ol{
	list-style:none;
}
img{
	border: none;
	display: block;
}
html,body{
	font-size:26.67vw;
	height: 100%;
}
body{
	display: flex;
	flex-direction: column;
}
/*  header  */
header{
	height: 0.48rem;
	display: -webkit-flex;
	-webkit-align-items: center;
    .iconfont{
    	font-size: 0.2rem;
    	margin-left: 0.18rem;
    }
    span{
    	font-size: 0.16rem;
    	color: #000;
    	margin-left: 1.28rem;
    }
}
/* head */
.head{
	height: 0.48rem;
	border-bottom: 1px solid #f8f4f8;
	display: -webkit-flex;
	-webkit-justify-content: space-around;
	-webkit-align-items: center;
	.head_cont{
		display: -webkit-flex;
		-webkit-align-items: center;
		span{
			font-size: 0.14rem;
			color: #4c4e56;
			margin-right: 0.08rem;
		}
		p{
			display: -webkit-flex;
			flex-direction: column;

			img{
				width: 0.08rem;
				height: 0.06rem;
				margin-bottom: 1px;
			}
		}
	}
    .head_cont:nth-child(3){
    	img{
    		width: 0.09rem;
			height: 0.12rem;
    	}
    }
}
/* section */
section{
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-justify-content: center;
	-webkit-align-items: center;
   .sec_cont{
   	   height: 1.18rem;
   	   width: 3.5rem;
   	   margin: 0.15rem 0.12rem 0 0.12rem;
   	   padding-bottom: 0.15rem;
   	   border-bottom: 1px solid #f0f0f0;
   	   display: -webkit-flex;
   	   -webkit-justify-content: space-between;
   	   img{
   	   	width: 0.94rem;
   	   	height: 1.18rem;
   	   }
   	   .cont_right{
   	   	  width: 2.46rem;
   	   	  height: 1.18rem;
   	   	  p{
   	   	  	font-size: 0.12rem;
   	   	  	color: #000;
   	   	  	margin-top: 0.08rem;
   	   	  }
   	   	  .right_bot{
   	   	  	display: -webkit-flex;
   	   	  	-webkit-justify-content: space-between;
   	   	  	-webkit-align-items: center;
   	   	  	margin-top: 0.27rem;
   	   	  	.right_bot_left{
   	   	  		display: -webkit-flex;
	            -webkit-flex-direction: column;
	            p{
	            	display: -webkit-flex;
	            	-webkit-align-items: center;
	            	span{
	            		font-size: 0.16rem;
	            		color: #ff0f6e;
	            	}
	            	span:last-child{
	            		font-size: 0.1rem;
	            		color: #9d9b9e;
	            	}
	            }
	            a{
	            	font-size: 0.12rem;
	            	color: #395ba0;
	            	margin-top: 0.05rem;
	            }
   	   	  	}
   	   	  	.right_bot_right{
   	   	  		display: -webkit-flex;
	           -webkit-align-items: center;
	           -webkit-justify-content: center;
   	   	  		width: 0.59rem;
   	   	  		height: 0.3rem;
   	   	  		background: white;
   	   	  		border:1px solid #f9b649;
   	   	  		border-radius:0.12rem ;
   	   	  		p{
   	   	  			display: -webkit-flex;
   	   	  			-webkit-justify-content: center;
   	   	  			-webkit-align-items: center;
   	   	  			width: 0.53rem;
   	   	  			height: 0.25rem;
   	   	  			background: #f9b649;
   	   	  			border-radius:0.1rem ;
   	   	  			font-size: 0.12rem;
   	   	  			color: #fff;
   	   	  			margin-top: 0;

   	   	  		}
   	   	  	}
   	   	  }
   	   }
   }	
}