@chatset"utf-8";
body,div,p,ul,dl,ol,dt,dd,li,h1,h2,h3,h4,h5,h6,form,fieldset,table,tr,td,input,textarea,figure{
	margin:0;
	padding:0;
}
body{
	font-family:"微软雅黑";
}
a{
	text-decoration:none;
}
a:hover{
	cursor:pointer;
}
ul,ol{
	list-style:none;
}
img{
	border: none;
	display: block;
}
html,body{
	font-size:26.67vw;
	height: 100%;
}
body{
	display: flex;
	flex-direction: column;
}
/*  header  */
header{
	height: 0.53rem;
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	-webkit-align-items: center;
	padding-right: 0.09rem;
	padding-left: 0.13rem;
	p{
		display: -webkit-flex;
		-webkit-align-items: center;
	}
	img{
		width: 0.27rem;
		height: 0.27rem;
	}
	a{
      font-size: 0.16rem;
      color: #ff001a;
      margin-right: 0.08rem;
	}
}
/* section */
section{
	flex: 1;
	overflow-x: hidden;
	overflow-y: scroll;
}
/* banner */
.swiper-container{
	position: relative;
	height: 3.72rem;
	width: 100%;
	
	img{
		width:100%;
		height: 100%;
	}
}
/* sec_one */
.sec_one{
	width: 3.5rem;
	height: 1.15rem;
	margin:0 auto;
	border-bottom: 2px dashed #f0edf0;
    .sec_one_top{
    	height: 0.46rem;
    	display: -webkit-flex;
    	-webkit-justify-content: space-between;
    	-webkit-align-items: flex-end;
    	.top_left{
    		display: -webkit-flex;
    		-webkit-align-items: flex-end;
    		p{
    			display: -webkit-flex;
    			-webkit-align-items: flex-end;
    			span{
    				font-size: 0.19rem;
    				color: #000；
    			}
    			span:last-child{
    				font-size: 0.1rem;
    				color: #8f8d90;
    				text-decoration: line-through;
    				margin-left: 0.09rem;
    			}
    		}
    		img{
    			width: 0.42rem;
    		    height: 0.16rem;
    		    margin-left: 0.12rem;
    		}
    	}
    	img{
    		width: 0.6rem;
    		height: 0.25rem;
    	}
    }
    p{
    	font-size: 0.12rem;
    	color: #222022;
    	margin-top: 0.18rem;
    }
}
/* sec_two */
.sec_two{
	width: 3.5rem;
	height: 1.15rem;
	margin:0 auto;
	border-bottom: 2px solid #f3f3f3;
	padding-top: 0.2rem;
	.sec_two_top{
		display: -webkit-flex;
		-webkit-justify-content: space-between;
		-webkit-align-items: center;
		margin-bottom: 0.19rem;
		p{
			display: -webkit-flex;
		}
		span{
			font-size: 0.12rem;
			color: #000;
			margin-right: 0.15rem;
		}
		span:first-child{
			width: 0.57rem;
			height: 0.17rem;
			background: #fff;
			border: 1px solid #e91884;
			border-radius: 3px;
			color: #e91884;
			text-align: center;
			line-height: 0.15rem;

		}
		a{
			font-size: 0.12rem;
			color: #0a67d3;
			margin-right: 0.07rem;
		}
	}
	.sec_two_cont{
		display: -webkit-flex;
		-webkit-justify-content: space-between;
		-webkit-align-items: center;
		margin-bottom: 0.19rem;
		p{
			display: -webkit-flex;
		}
		span{
			font-size: 0.12rem;
			color: #000;
			margin-right: 0.15rem;
		}
		span:first-child{
			width: 0.57rem;
			height: 0.17rem;
			background: #fff;
			border: 1px solid #6691cd;
			border-radius: 3px;
			color: #6691cd;
			text-align: center;
			line-height: 0.15rem;

		}
	}
	.sec_two_bot{
		display: -webkit-flex;
		-webkit-align-items: center;
		margin-bottom: 0.19rem;
		p{
			display: -webkit-flex;
			font-size: 0.12rem;
			color: #000;
			span{
				font-size: 0.12rem;
				color: #e91884;
				border: none;
				width: 0.24rem;
				height: 0.12rem;
				margin-right: 0;
			}
		}
		span{
			width: 0.57rem;
			height: 0.17rem;
			background: #fff;
			border: 1px solid #6691cd;
			border-radius: 3px;
			font-size: 0.12rem;
			color: #6691cd;
			text-align: center;
			line-height: 0.15rem;
			margin-right: 0.15rem;

		}
	}
}
/* sec_three */
.sec_three{
	height: 1.5rem;
	border-bottom: 2px solid #f2f2f2;
	padding: 0 0.12rem;
	.three_top{
		height: 0.54rem;
		display: -webkit-flex;
		-webkit-justify-content: space-between;
		-webkit-align-items: center;
		span{
			font-size: 0.12rem;
			color: #000;
		}
		a{
			font-size: 0.12rem;
			color: #3b85dd;
		}
	}
	.three_bottom{
		display: -webkit-flex;
		-webkit-justify-content: space-between;
	    flex-wrap: wrap;
	    span{
	    	width: 1.06rem;
	    	height: 0.29rem;
	    	border:2px solid #dedede;
	    	border-radius: 3px;
	    	font-size: 0.12rem;
	    	color: #000;
	    	text-align: center;
	    	line-height: 0.29rem;
	    	margin-bottom: 0.16rem;
	    }
	}
}
/* sec_four */
.sec_four{
	height: 0.85rem;
	border-bottom: 1px solid #efefef;
	padding-left: 0.14rem;
	display: -webkit-flex;
	-webkit-flex-direction: column;
	p:first-child{
		font-size: 0.12rem;
		color: #000;
        margin:0.2rem 0;
	}
	p:last-child{
		display: -webkit-flex;
		margin-bottom: 0.2rem;
        span{
        	font-size: 0.12rem;
        	color: #3d4149;
        }
        img{
        	width: 0.13rem;
        	height: 0.13rem;
        	margin-left: 0.06rem;
        }
	}
}
/* sec_five */
.sec_five{
	height: 0.5rem;
	border-bottom: 1px solid #efefef;
	padding-left: 0.14rem;
	padding-right: 0.14rem;
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	-webkit-align-items: center;
	.five_left{
		width: 2.5rem;
		height: 100%;
		display: -webkit-flex;
	   -webkit-justify-content: space-between;
	   -webkit-align-items: center;
	   p{
	   	display: -webkit-flex;
	   	img{
	   		width: 0.15rem;
	   		height: 0.15rem;
	   		margin-right: 3px;
	   	}
	   	span{
        	font-size: 0.12rem;
        	color: #3d4149;
        }
	   }
	}
	img{
		width: 0.34rem;
		height: 0.05rem;
	}
}
/* sec_six */
.sec_six{
	height: 0.89rem;
	border-bottom: 1px solid #efefef;
	padding-left: 0.14rem;
	padding-right: 0.14rem;
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	-webkit-align-items: center;
	.six_left{
		width: 1.93rem;
		height: 100%;
		display: -webkit-flex;
	   -webkit-justify-content: flex-start;
	   -webkit-align-items: center;
	   img{
	   		width: 0.6rem;
	   		height: 0.6rem;
	   		margin-right: 0.12rem;
	   	}
	   p{
	   	display: -webkit-flex;
	   	-webkit-flex-direction: column;
	   	
	   	span{
        	font-size: 0.1rem;
        	color: #a09fa3;
        }
        span:first-child{
        	font-size: 0.14rem;
        	color: #000;
        }
	   }
	}
	.six_right{
		width: 0.67rem;
		height: 0.21rem;
		border: 2px solid #e876b5;
		border-radius: 3px;
		font-size: 0.12rem;
		color: #e876b5;
		text-align: center;
		line-height: 0.21rem;
	}
}
/* sec_seven */
.sec_seven{
	height: 0.55rem;
	border-bottom: 1px solid #efefef;
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	a{
		font-size: 0.12rem;
		color: #000;
		
	}
	a:first-child{
		margin-right: 0.67rem;
	}
	a:last-child{
		margin-left: 0.67rem;
	}
	img{
		width: 2px;
		height: 0.25rem;
	}
}
/* sec_eight */
.sec_eight{
	height: 1.24rem;
	border-bottom: 1px solid #efefef;
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	img{
		width: 3.48rem;
		height: 0.89rem;
	}
}
/* sec_nine */
.sec_nine{
	height: 7.15rem;
	img{
		width: 100%;
		height: 100%;
	}
}
/* sec_ten */
.sec_ten{
height: 0.59rem;
border-bottom: 1px solid #efefef;
padding-left: 0.14rem;
padding-right: 0.14rem;
display: -webkit-flex;
-webkit-justify-content: space-between;
-webkit-align-items: center;
	.ten_left{
		/* display: -webkit-flex;
		   -webkit-justify-content: flex-start;
		   -webkit-align-items: center; */
		   p{
		   	font-size: 0.1rem;
		   	color: #9f9da0;
		   }
		   p:first-child{
		   	font-size: 0.12rem;
		   	color: #000;
		   }
	}
	img{
		width: 0.08rem;
		height: 0.06rem;
	}
}
/* sec_11 */
.sec_11{
	height: 1.3rem;
	border-bottom: 1px solid #efefef;
	padding-left: 0.14rem;
	padding-right: 0.14rem;
	p{
		font-size: 0.12rem;
		color: #000;
		margin-top: 0.17rem;
	}
	.sec_11_bot{
		margin-top: 0.35rem;
		display: -webkit-flex;
		-webkit-flex-direction: column;
		-webkit-align-items: center;
		.bot_2{
			display: -webkit-flex;
           -webkit-align-items: center;
			h3{
			font-size: 0.2rem;
			color: #000;
		   }
		   img{
		   	width: 0.15rem;
		   	height: 0.15rem;
		   }
		}
		
		p{
			font-size: 0.12rem;
			color: #1b1d1b;
		}
	}
}
/* sec_12 */
.sec_12{
	img{
		width: 100%;
		height: 28.77rem;
	}
}
/* footer */
footer{
	height: 0.62rem;
	padding-left: 0.14rem;
    padding-right: 0.14rem;
    display: -webkit-flex;
    -webkit-align-items: center;
    a{
    	display:inline-block;
    	display: -webkit-flex;
    	-webkit-justify-content: center;
    	-webkit-align-items: center;
    	margin-right: 0.06rem;
    }
    a:first-child{
    	width:0.86rem;
    	height: 0.41rem;
    	border: 1px solid #ece8ec;
    	border-radius: 2px;
    	img{
    		width: 0.27rem;
    		height: 0.23rem;
    	}
    }
    a:last-child{
    	width: 2.54rem;
    	height: 0.41rem;
    	background: #de3c94;
    	font-size: 0.12rem;
    	color: #fff;
    }
}