@chatset"utf-8";
body,div,p,ul,dl,ol,dt,dd,li,h1,h2,h3,h4,h5,h6,form,fieldset,table,tr,td,input,textarea,figure{
	margin:0;
	padding:0;
}
body{
	font-family:"微软雅黑";
}
a{
	text-decoration:none;
}
a:hover{
	cursor:pointer;
}
ul,ol{
	list-style:none;
}
img{
	border: none;
	display: block;
}
html,body{
	font-size:26.67vw;
	height: 100%;
}
body{
	display: flex;
	flex-direction: column;

}
/*  header  */
header{
	height:0.43rem;
	border-bottom: 1px solid #faf8fa;
	.headerCont{
		width: 3.25rem;
		height: 0.3rem;
		background: #f7f7f7;
		display: flex;
		align-items: center;
		margin: 0.06rem 0 0.06rem 0.1rem;
		img{
			width: 0.18rem;
			height: 0.18rem;
			margin-left: 0.09rem;
			margin-right: 0.06rem;
		}
		input{
			width: 2.93rem;
			height: 0.29rem;
			background: #f7f7f7;
			border: none;
			outline: none;
			font-size: 0.12rem;
			color: #6f6d6f;
			line-height: 0.29rem;
		}
	}
}
/* section */
section{
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;

	.nav_left{
       /*  flex: 1; */
        overflow-x: hidden;
       overflow-y: scroll;
		width: 0.86rem;
		background: #fffbff;
		ul{
			.list{
				width: 0.84rem;
				height: 0.47rem;
				border: 1px solid #faf6fa;
				display: flex;
				justify-content: center;
				align-items: center;
				
				span{
					font-size: 0.12rem;
				    color: #000;

				}
			}
			.sec{
				border: none;
				border-left: 3px solid #ff4465;
				background: #fff;
				color:red;
			}
			
		}
	}
	.nav_right{
         flex: 1;
         overflow-x: hidden;
         overflow-y: scroll;
         .sub{
         	width: 100%;
         	display: flex;
         	flex-direction: column;
         	dl{
         		dt{
         			height: 0.43rem;
         			display: flex;
                    a{
                    	font-size: 0.12rem;
                    	color: #000;
                    	margin-top: 0.1rem;
                    	margin-left: 0.2rem;
                    }
         		}
         		dd{
         			
         			p{
         				float: left;
         				padding: 0 0.15rem;
         				margin-bottom: 0.2rem;
         				width: 0.64rem;
         				height: 0.72rem;
         				display: flex;
         				justify-content: center;
         				align-items: center;
         				flex-direction: column;
         				img{
         				width: 0.55rem;
         				height: 0.62rem;
         			    }
         			    a{
         			    	font-size: 0.12rem;
         			    	color: #000;
         			    }
         			}
         			
         		}
         	}
         }
         .hide{
       	    display:none;
         }
       .hide:nth-child(1){
            display: block;
            display: -webkit-flex;
        }

	}
}
/* footer */
footer{
	height: 0.48rem;
	background: #fffbff;
	display: flex;
	justify-content: space-around;
	align-items: center;
	p{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		img{
			width: 0.21rem;
			height: 0.2rem;
		}
		a{
			font-size: 0.1rem;
			color: #646066;
		}
	}
}